/* 메인 페이지 (body 제외) */
.content-mainpage {
    display: flex;
    /*width: 50%;*/
}

.sidebar-mainpage {
    padding: 20px;
    background-color: #f2f2f2;
    min-width: 200px;
}

.box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.board-list, .search-ranking {
    list-style: none;
    padding: 0;
    margin: 0; /* remove default margin for ul/ol */
}

.board-list li, .search-ranking li {
    margin-bottom: 10px;
    cursor: pointer;
}

.board-list li:last-child, .search-ranking li:last-child {
    margin-bottom: 0;
}

.posts {
    padding-top: 10px;
}

.post-title {
    font-weight: bold;
    text-align: left;
}

.post-info {
    font-size: 12px;
    color: #777;
    text-align: right;
    margin-top: 3px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    background-color: #fff;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.post-title-container {
    flex-grow: 1;
    margin-right: 10px;
}

.post-info-container {
    text-align: right;
    flex-shrink: 0;
}

.main-content {
    margin-left: 20px;
}
