<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" href="#">
    <title>댓글 리스트</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <link rel='stylesheet' href="/css/comment.css"/>

    <!-- ajax , cookies 사용 lib -->
</head>
<body>
<br/><br/><br/><br/><br/>
<!---start-comments-section--->
<div class="comment-section" style="padding:30px;">
    <div class="grids_of_2">
        <hr style="border-top: 1px solid #000;">
        <h2></h2>
        <div class="grids_of_2" id="comments">
        </div>
        <div class="artical-commentbox">
            <hr style="border-top: 1px solid #6c757d;">
            <h2 class="comment-h2" style="font-family: 'Jua', sans-serif">댓글</h2>
            <div class="table-form">
                <form name="post_comment">
                    <div>
                        <label style="font-family: 'Jua', sans-serif;">닉네임<span>*</span></label>
                        <h4 id="loginUserName">testid3</h4>
                    </div>
                    <div>
                        <label for="userComment" style="font-family: 'Jua', sans-serif;">댓글창<span>*</span></label>
                        <textarea type="text" id="userComment" name="content" placeholder="내용을 입력해주세요."></textarea>
                    </div>
                </form>
                <button id="createComments" class="btn btn-secondary" type="button">댓글 작성</button>
            </div>
            <div class="clear" id="comment"></div>
        </div>
    </div>
</div>
<nav aria-label="..." style="margin-bottom: 2em">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link prev-page-button" style="cursor: pointer" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item page-numbers">
            <a class="page-link page-button active pagenumber"></a>
        </li>
        <li class="page-item">
            <a class="page-link next-page-button" style="cursor: pointer" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</body>
<script>
    // URL에서 postid를 뽑아냄
    function getPostIdFromUrl() {
        const urlParts = window.location.pathname.split('/');
        const postIdIndex = urlParts.indexOf('posts') + 1;
        return urlParts[postIdIndex];
    }

    // 화면이 띄워질경우 실행되는 메소드
    $(document).ready(function () {

        const postId = getPostIdFromUrl();

        // 페이징
        const commentsContainer = $('.clear');
        const paginationContainer = $('.pagination');

        let currentPage = 0;
        let totalPages = 0;
        let startPage = 0;
        let endPage = 9;
        const pageSize = 10; // 페이지당 댓글/답글 개수

        // 페이지 로드시 댓글과 답글 가져오는 로직 호출
        function loadCommentsAndReplies(page) {
            $.ajax({
                url: `/api/posts/${postId}/comments?page=${page}&size=${pageSize}`,
                method: 'GET',
                success: function (data) {
                    const comments = data.result.comments;
                    totalPages = data.result.paginationInfo.totalPages;
                    displayCommentsAndReplies(comments, page);
                    updatePagination(totalPages, page);
                }
            });
        }

        function loadCommentsAndReplies2(page) {
            $.ajax({
                url: `/api/posts/${postId}/comments?page=${page}&size=${pageSize}`,
                method: 'GET',
                success: function (data) {
                    const comments = data.result.comments;
                    totalPages = data.result.paginationInfo.totalPages;
                    const pagelist = data.result.paginationInfo
                    console.log(pagelist)
                    // console.log(totalPages)
                    // console.log(page)
                    displayCommentsAndReplies(comments, page);
                }
            });
        }

        function displayCommentsAndReplies(comments, page) {
            console.log("페이지 로딩")
            // 이전에 표시된 댓글과 답글 제거
            commentsContainer.empty();

            $.ajax({
                url: `/api/posts/${postId}/comments?page=${page}&size=${pageSize}`,
                method: "GET",
                dataType: "json",
                success: function (comments) {
                    let data = comments.result.comments;
                    var commentsContainer = $("#comment");

                    // 댓글의 좋아요 정보 가져오기
                    $.ajax({
                        url: "/api/posts/" + postId + "/comments/likes",
                        method: "GET",
                        dataType: "json",
                        success: function (likesval) {
                            let likesData = likesval.result;
                            let usernames = "testid3";

                            data.forEach(function (comment) {

                                const createdAt = comment.createdAt;

                                const date = new Date(createdAt);

                                const formattedDate = date.toLocaleString("ko-KR", {
                                    year: "numeric",
                                    month: "2-digit",
                                    day: "2-digit",
                                    hour: "2-digit",
                                    minute: "2-digit",
                                    second: "2-digit",
                                });

                                // console.log(comment)

                                let temp_html = `
                                <div class="grid1_of_2" data-comment-id="${comment.id}">
                                <div class="grid_text">
                                    <hr style="border-top: 1px solid #6c757d;">
                                    <div class="grid_img">
                                        <img src="/img/20230812_215821.jpg" alt="My Image" style="border-radius: 50%;">
                                    </div>
                                    <h4 class="style1 list" style="font-family: 'Jua', sans-serif;"><a href="#" style="font-family: 'Jua', sans-serif;">${comment.nickname}</a></h4>
                                    <p class="para top" style="font-family: 'Jua', sans-serif;" >${formattedDate}</p>
                                    <br/>
                                    <h4 class="style1 list">${comment.content}</h4>
                                    <br/>
                                    <div class="commentsLikes" data-comment-id="${comment.id}">
                                        <a class="commentunLikes" style="cursor: pointer" data-comment-id="${comment.id}" onclick="likesClick(${postId}, ${comment.id}, ${comment.likeCnt})">🤍</a>
                                        <span class="commentcnt" data-comment-id="${comment.id}">${comment.likeCnt}</span>
                                    </div>
                                    <a id="testid" class="btn1" style="font-family: 'Jua', sans-serif; cursor: pointer" data-comment-id="${comment.id}">수정</a>
                                    <a class="btn1" style="font-family: 'Jua', sans-serif; cursor: pointer" data-comment-id="${comment.id}">삭제</a>
                                    <a class="btn1 replyCreate" style="font-family: 'Jua', sans-serif; cursor: pointer">답글 달기</a>
                                    <a class="btn1 replyRead" style="font-family: 'Jua', sans-serif; cursor: pointer"  data-comment-id="${comment.id}" onclick="openReply(${comment.id})">답글 펼치기  (0개)</a>
                                    <a class="btn1 replyClose" style="font-family: 'Jua', sans-serif; cursor: pointer; display: none" data-comment-id="${comment.id}" onclick="closeReply(${comment.id})">답글 닫기</a>
                                </div>
                                <div class="grid_text userReply-Form" style="display: none">
                                    <label for="userReply" style="font-family: 'Jua', sans-serif;">답글창<span>*</span></label>
                                    <textarea type="text" id="userReply" name="content" placeholder="내용을 입력해주세요."></textarea>
                                    <button class="btn btn-secondary" type="button" onclick="">답글 작성</button>
                                </div>
                                <div class="grid_text userCommentEdit-Form" style="display: none">
                                    <label for="userCommentEdit" style="font-family: 'Jua', sans-serif;">수정창<span>*</span></label>
                                    <textarea type="text" id="userReply" name="content" placeholder="내용을 입력해주세요."></textarea>
                                    <button class="btn btn-secondary" type="button" onclick="">댓글 수정</button>
                                </div>

                            `

                                // 해당 댓글에 대한 좋아요 정보 검사
                                const likeInfo = likesData.find(function (like) {
                                    return like.comment_id === comment.id && like.username === usernames;
                                });

                                if (likeInfo && likeInfo.likes) {
                                    // console.log(likeInfo)
                                    temp_html = `
                                <div class="grid1_of_2" data-comment-id="${comment.id}">
                                <div class="grid_text">
                                    <hr style="border-top: 1px solid #6c757d;">
                                    <div class="grid_img">
                                        <img src="/img/20230812_215821.jpg" alt="My Image" style="border-radius: 50%;">
                                    </div>
                                    <h4 class="style1 list" style="font-family: 'Jua', sans-serif;"><a href="#" style="font-family: 'Jua', sans-serif;">${comment.nickname}</a></h4>
                                    <p class="para top" style="font-family: 'Jua', sans-serif;" >${formattedDate}</p>
                                    <br/>
                                    <h4 class="style1 list">${comment.content}</h4>
                                    <br/>
                                    <div class="commentsLikes" data-comment-id="${comment.id}">
                                        <a class="commentLikes" style="cursor: pointer" data-comment-id="${comment.id}" onclick="unlikesClick(${postId}, ${comment.id}, ${comment.likeCnt})">❤️</a>
                                        <span class="commentcnt" data-comment-id="${comment.id}">${comment.likeCnt}</span>
                                    </div>
                                    <a id="testid" class="btn1" style="font-family: 'Jua', sans-serif; cursor: pointer" data-comment-id="${comment.id}">수정</a>
                                    <a class="btn1" style="font-family: 'Jua', sans-serif; cursor: pointer" data-comment-id="${comment.id}">삭제</a>
                                    <a class="btn1 replyCreate" style="font-family: 'Jua', sans-serif; cursor: pointer">답글 달기</a>
                                    <a class="btn1 replyRead" style="font-family: 'Jua', sans-serif; cursor: pointer" data-comment-id="${comment.id}" onclick="openReply(${comment.id})">답글 펼치기 (0개)</a>
                                    <a class="btn1 replyClose" style="font-family: 'Jua', sans-serif; cursor: pointer; display: none" data-comment-id="${comment.id}" onclick="closeReply(${comment.id})">답글 닫기</a>
                                </div>
                                <div class="grid_text userReply-Form" style="display: none">
                                    <label for="userReply" style="font-family: 'Jua', sans-serif;">답글창<span>*</span></label>
                                    <textarea type="text" id="userReply" name="content" placeholder="내용을 입력해주세요."></textarea>
                                    <button class="btn btn-secondary" type="button" onclick="">답글 작성</button>
                                </div>
                                <div class="grid_text userCommentEdit-Form" style="display: none">
                                    <label for="userCommentEdit" style="font-family: 'Jua', sans-serif;">수정창<span>*</span></label>
                                    <textarea type="text" id="userReply" name="content" placeholder="내용을 입력해주세요."></textarea>
                                    <button class="btn btn-secondary" type="button" onclick="">댓글 수정</button>
                                </div>
                            `
                                }

                                let commentWrapper = $(`<div class="commentbox" data-comment-id="${comment.id}">${temp_html}</div>`);

                                // 답글 가져오기
                                $.ajax({
                                    url: "/api/posts/" + postId + "/comments/" + comment.id + "/reply",
                                    method: "GET",
                                    dataType: "json",
                                    success: function (replies) {
                                        let data2 = replies.result.replys;
                                        var repliesContainer = $('<div class="grid1_of_2 left" id="replyList" style="display: none"></div>');

                                        $.ajax({
                                            url: "/api/posts/" + postId + "/comments/" + comment.id + "/reply/likes",
                                            method: "GET",
                                            dataType: "json",
                                            success: function (replylikesval) {
                                                let replyLikesData = replylikesval.result;
                                                // console.log(replyLikesData)
                                                let usernames2 = "testid3";

                                                data2.forEach(function (reply) {
                                                    const createdAt = reply.createdAt;

                                                    const date = new Date(createdAt);

                                                    const formattedDate = date.toLocaleString("ko-KR", {
                                                        year: "numeric",
                                                        month: "2-digit",
                                                        day: "2-digit",
                                                        hour: "2-digit",
                                                        minute: "2-digit",
                                                        second: "2-digit",
                                                    });

                                                    const commentId = comment.id;

                                                    let temp_html = `
                                                    <div  class="grid1_of_2 left" id="replyList" data-reply-id="${reply.id}">
                                                        <div class="grid_text">
                                                            <hr style="border-top: 1px solid #6c757d;">
                                                            <div class="grid_img">
                                                                <img src="/img/20230812_215821.jpg" alt="My Image" style="border-radius: 50%;">
                                                            </div>
                                                            <h4 class="style1 list" style="font-family: 'Jua', sans-serif;"><a href="#" style="font-family: 'Jua', sans-serif;" data-reply-id="${reply.id}">${reply.nickname}</a></h4>
                                                            <p class="para top" style="font-family: 'Jua', sans-serif;" data-reply-id="${reply.id}">${formattedDate}</p>
                                                            <h4 class="style1 list" data-reply-id="${reply.id}"> ${reply.content}</h4>
                                                            <div class="replyslikes" data-reply-id="${reply.id}">
                                                                <a class="unreplysLikes" style="cursor: pointer" data-reply-id="${reply.id}" onclick="replyLikesClick(${postId}, ${commentId}, ${reply.id}, ${reply.likeCnt})">🤍</a>
                                                                <span class="likecnt" data-reply-id="${reply.id}">${reply.likeCnt}</span>
                                                            </div>
                                                            <textarea type="text"  placeholder="답글을 입력해주세요" style="display: none"/></textarea>
                                                            <button type="button" style="display: none">reply 수정</button>
                                                            <a id="testid" class="btn1" style="font-family: 'Jua', sans-serif;">수정</a>
                                                            <a class="btn1" style="font-family: 'Jua', sans-serif;">삭제</a>
                                                        </div>
                                                    </div>
                                                `

                                                    // 해당 댓글에 대한 좋아요 정보 검사
                                                    var replylikeInfo = replyLikesData.find(function (replylike) {
                                                        return replylike.comment_id === comment.id && replylike.reply_id === reply.id && replylike.username === usernames2;
                                                    });

                                                    if (replylikeInfo && replylikeInfo.likes) {
                                                        temp_html = `
                                                    <div  class="grid1_of_2 left" id="replyList" data-reply-id="${reply.id}" style="display: none">
                                                        <div class="grid_text">
                                                            <hr style="border-top: 1px solid #6c757d;">
                                                            <div class="grid_img">
                                                                <img src="/img/20230812_215821.jpg" alt="My Image" style="border-radius: 50%;">
                                                            </div>
                                                            <h4 class="style1 list" style="font-family: 'Jua', sans-serif;"><a href="#" style="font-family: 'Jua', sans-serif;" data-reply-id="${reply.id}">${reply.nickname}</a></h4>
                                                            <p class="para top" style="font-family: 'Jua', sans-serif;" data-reply-id="${reply.id}">${formattedDate}</p>
                                                            <h4 class="style1 list" data-reply-id="${reply.id}">${reply.content}</h4>
                                                            <div class="replyslikes" data-reply-id="${reply.id}">
                                                                <a class="replysLikes" style="cursor: pointer" data-reply-id="${reply.id}" onclick="replyUnlikesClick(${postId}, ${commentId}, ${reply.id}, ${reply.likeCnt})">❤️</a>
                                                                <span class="likecnt" data-reply-id="${reply.id}">${reply.likeCnt}</span>
                                                            </div>
                                                            <textarea type="text"  placeholder="답글을 입력해주세요" style="display: none"/></textarea>
                                                            <button type="button" style="display: none">reply 수정</button>
                                                            <a id="testid" class="btn1" style="font-family: 'Jua', sans-serif;">수정</a>
                                                            <a class="btn1" style="font-family: 'Jua', sans-serif;">삭제</a>
                                                        </div>
                                                        </div>
                                                    `
                                                    }

                                                    // 각 답글에 대한 좋아요 정보 가져오기
                                                    repliesContainer.append(temp_html);

                                                    // 답글 갯수 구한후 텍스트 변환
                                                    let replyCount = data2.length;
                                                    $(`.commentbox[data-comment-id="${comment.id}"] .replyRead`).text(`답글 펼치기 (${replyCount}개)`);
                                                })
                                            }
                                        });

                                        // 답글을 댓글 아래에 추가
                                        commentWrapper.append(repliesContainer);
                                    }
                                });

                                commentsContainer.append(commentWrapper);
                            });
                        }
                    });
                }
            });
        }

        // 이전버튼, 다음버튼 클릭
        function updatePageButtons() {
            const pageNumbersContainer = paginationContainer.find('.page-numbers');
            pageNumbersContainer.empty();

            const maxPage = Math.min(totalPages, endPage + 1); // 실제 데이터가 있는 페이지까지만 생성

            for (let i = startPage; i < maxPage; i++) {
                const pageNumber = i + 1; // 페이지 번호는 1부터 시작
                const activeClass = i === currentPage ? 'active' : '';
                const pageButton = `<li class="page-item page-numbers list-inline-item" style="margin-right: 0; cursor: pointer">
                                <a class="page-link page-button ${activeClass} pagenumber" data-page="${i}">
                                    ${pageNumber}
                                </a>
                            </li>`;
                pageNumbersContainer.append(pageButton);
            }
        }

        // 댓글 페이지 추가
        function updatePagination() {
            updatePageButtons();
            // console.log(totalPages.toString().slice(0, -1) * 10)

            paginationContainer.find('.prev-page-button').toggleClass('disabled', currentPage < 10);
            paginationContainer.find('.next-page-button').toggleClass('disabled', currentPage + 1 > totalPages.toString().slice(0, -1) * 10);
        }

        // 초기 페이지 로드
        updatePagination();
        loadCommentsAndReplies(currentPage);

        // 페이지 번호 클릭 시 해당 페이지 댓글/답글 가져오기
        $('.pagination').on('click', '.pagenumber', function () {
            const page = parseInt($(this).data('page'));
            currentPage = page; // 활성화된 페이지 번호를 업데이트
            updatePagination();
            loadCommentsAndReplies(page);
        });

        // 이전 페이지 버튼 클릭 시 이전 페이지 댓글/답글 가져오기
        $('.prev-page-button').click(function () {
            if (currentPage > 0) {
                if (currentPage < 1) {
                    currentPage -= pageSize;
                } else {
                    currentPage = currentPage.toString().slice(0, -1) * 10 - pageSize;
                    console.log(currentPage)
                }
                if (currentPage < startPage) {
                    startPage -= 10;
                    endPage -= 10;
                }
                updatePagination();
                loadCommentsAndReplies(currentPage);
            }
        });

        // 다음 페이지 버튼 클릭 시 다음 페이지 댓글/답글 가져오기
        $('.next-page-button').click(function () {
            if (currentPage < totalPages - 1) {
                if (currentPage < 1) {
                    currentPage += pageSize;
                    // console.log(currentPage)
                } else {
                    currentPage = currentPage.toString().slice(0, -1) * 10 + pageSize;
                    // console.log(currentPage)
                }
                if (currentPage > endPage) {
                    startPage += 10;
                    endPage += 10;
                }
                updatePagination();
                loadCommentsAndReplies(currentPage);
            }
        });
    });

    // 댓글 좋아요 추가
    function likesClick(postId, commentId, cnt) {
        const token = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aWQzIiwibmlja25hbWUiOiJ0ZXN0bmljazMiLCJleHAiOjE2OTMwNTk4MjgsImlhdCI6MTY5MjY5OTgyOH0.5YwkvHbbFWWDQC2rckVG0Dmc2XpSYaEuNoYEKYXNUtY";

        console.log(token);
        $.ajax({
            type: 'POST',
            url: `/api/posts/${postId}/comments/${commentId}/likes`,
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Authorization": token
            },
            data: {},
            success: function (data) {
                console.log(data);
                console.log(cnt)

                const updateCnt = cnt += 1;

                $(`.commentunLikes[data-comment-id=${commentId}]`).empty();
                $(`.commentcnt[data-comment-id=${commentId}]`).empty();

                const temp_html = `
                    <a class="commentLikes" style="cursor: pointer" data-comment-id="${commentId}" onclick="unlikesClick(${postId}, ${commentId}, ${cnt})">❤️</a>
                    <span class="commentcnt" data-comment-id="${commentId}">${updateCnt}</span>
                `

                $(`.commentsLikes[data-comment-id=${commentId}]`).append(temp_html);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    // 댓글 좋아요 취소
    function unlikesClick(postId, commentId, cnt) {
        const token = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aWQzIiwibmlja25hbWUiOiJ0ZXN0bmljazMiLCJleHAiOjE2OTMwNTU4NzEsImlhdCI6MTY5MjY5NTg3MX0.Hj386tCG4ZqUmkJkWg99V2DrWHJl_wXKLju__7q6t6E";

        console.log(token);
        $.ajax({
            type: 'PUT',
            url: `/api/posts/${postId}/comments/${commentId}/likes`,
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Authorization": token
            },
            data: {},
            success: function (data) {
                console.log(data);
                console.log(cnt)

                const updateCnt = cnt -= 1;

                $(`.commentLikes[data-comment-id=${commentId}]`).empty();
                $(`.commentcnt[data-comment-id=${commentId}]`).empty();

                const temp_html = `
                    <a class="commentunLikes" style="cursor: pointer" data-comment-id="${commentId}" onclick="likesClick(${postId}, ${commentId}, ${cnt})">🤍</a>
                    <span class="commentcnt" data-comment-id="${commentId}">${updateCnt}</span>
                `

                $(`.commentsLikes[data-comment-id=${commentId}]`).append(temp_html);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    // 답글 좋아요 추가
    function replyLikesClick(postId, commentId, replyId, cnt) {
        const token = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aWQzIiwibmlja25hbWUiOiJ0ZXN0bmljazMiLCJleHAiOjE2OTMwNTk4MjgsImlhdCI6MTY5MjY5OTgyOH0.5YwkvHbbFWWDQC2rckVG0Dmc2XpSYaEuNoYEKYXNUtY";

        console.log(token);
        $.ajax({
            type: 'POST',
            url: `/api/posts/${postId}/comments/${commentId}/reply/${replyId}/likes`,
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Authorization": token
            },
            data: {},
            success: function (data) {
                // console.log(data);
                // console.log(cnt)
                console.log(commentId)
                const updateCnt = cnt += 1;

                $(`.unreplysLikes[data-reply-id=${replyId}]`).empty();
                $(`.likecnt[data-reply-id=${replyId}]`).empty();

                const temp_html = `
                    <a class="replysLikes" style="cursor: pointer" data-reply-id="${replyId}" onclick="replyUnlikesClick(${postId}, ${commentId}, ${replyId}, ${cnt})">❤️</a>
                    <span class="likecnt" data-reply-id="${replyId}">${updateCnt}</span>
                `

                $(`.replyslikes[data-reply-id=${replyId}]`).append(temp_html);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    // 답글 좋아요 취소
    function replyUnlikesClick(postId, commentId, replyId, cnt) {
        const token = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aWQzIiwibmlja25hbWUiOiJ0ZXN0bmljazMiLCJleHAiOjE2OTMwNTU4NzEsImlhdCI6MTY5MjY5NTg3MX0.Hj386tCG4ZqUmkJkWg99V2DrWHJl_wXKLju__7q6t6E";

        console.log(token);
        $.ajax({
            type: 'PUT',
            url: `/api/posts/${postId}/comments/${commentId}/reply/${replyId}/likes`,
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Authorization": token
            },
            data: {},
            success: function (data) {
                // console.log(data);
                // console.log(cnt)
                console.log(commentId)

                const updateCnt = cnt -= 1;

                $(`.replysLikes[data-reply-id=${replyId}]`).empty();
                $(`.likecnt[data-reply-id=${replyId}]`).empty();

                const temp_html = `
                    <a class="unreplysLikes" style="cursor: pointer" data-reply-id="${replyId}" onclick="replyLikesClick(${postId}, ${commentId}, ${replyId}, ${cnt})">🤍</a>
                    <span class="likecnt" data-reply-id="${replyId}">${updateCnt}</span>
                `

                $(`.replyslikes[data-reply-id=${replyId}]`).append(temp_html);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    $('#createComments').click(function () {
        const postId = getPostIdFromUrl();
        const token = "Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0aWQzIiwibmlja25hbWUiOiJ0ZXN0bmljazMiLCJleHAiOjE2OTMwNTU4NzEsImlhdCI6MTY5MjY5NTg3MX0.Hj386tCG4ZqUmkJkWg99V2DrWHJl_wXKLju__7q6t6E";

        console.log(token)
        $.ajax({
            type: 'POST',
            url: `/api/posts/${postId}/comments`,
            dataType: 'json',
            headers: {
                "Content-Type": "application/json",
                "Authorization": token
            },
            data: JSON.stringify({
                content: $('#userComment').val()
            }),
            success: function (data) {
                console.log(data)
                alert(data.success)
            },
            error: function (e) {
                console.log(e)
            }
        })
    })


    // 답글 열기버튼
    function openReply(commentId) {
        $(`.commentbox[data-comment-id="${commentId}"] #replyList`).show();
        $(`.commentbox[data-comment-id="${commentId}"] .replyRead`).hide();
        $(`.commentbox[data-comment-id="${commentId}"] .replyClose`).show();
    }

    // 답글 닫기버튼
    function closeReply(commentId) {
        $(`.commentbox[data-comment-id="${commentId}"] #replyList`).hide();
        $(`.commentbox[data-comment-id="${commentId}"] .replyRead`).show();
        $(`.commentbox[data-comment-id="${commentId}"] .replyClose`).hide();
    }


</script>
</html>
