<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 및 인기검색어</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- static 스타일 시트 -->
    <link rel="stylesheet" type="text/css" href="/css/detailboard.css">
</head>
<body>
<!--  상단바  -->
<div id="header">
    <div id="header-info">
        <div id="header-name">
            <h2>토마토<span class="badge badge-info badge-pill"></span></h2>
        </div>

        <div class="header-buttons">
            <a class="header-button myPage" id="mainPageButton" href="/view/mainpage">메인페이지</a>
            <button class="header-button logout" id="logoutButton" @click="logout">로그아웃</button>
        </div>
    </div>
</div>
<!--  상단바 끝  -->

<div class="content">
    <div class="sidebar">
        <div class="box">
            <h2 class="h2">인기검색어</h2>
            <ol class="search-ranking">
                <!--                <li>검색어 1</li>-->
            </ol>
        </div>
        <div>
            <ul class="board-list">
                <li><a href="/view/mainpage">전체게시판</a></li>
                <!-- 백엔드에서 가져온 게시판 목록을 순회하면서 출력 -->
                <th:block th:each="board : ${boardList}">
                    <li><a th:href="@{/view/boards/{boardId}(boardId=${board.id})}" th:text="${board.title}">게시판</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div>
            <form class="search-form">
                <select name="searchType" id="searchType">
                    <option value="title">제목</option>
                    <option value="contents">내용</option>
                    <option value="titleAndContents">제목+내용</option>
                </select>
                <input type="text" name="searchKeyword" id="searchKeyword" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
            </form>
        </div>
        <div class="posts">
            <ul class="post-list">
                <th:block th:if="${selectedBoard.postList.isEmpty()}">
                    <p>게시물이 없습니다.</p>
                </th:block>
                <th:block th:else>
                    <th:block th:each="post : ${selectedBoard.postList}">
                        <li class="post">
                            <div class="post-content">
                                <div class="post-title-container">
                                    <!-- 게시물 제목을 표시합니다 -->
                                    <a th:href="@{/view/posts/{postId}(postId=${post.id})}">
                                        <span class="post-title" th:text="${post.title}"></span>
                                    </a>
                                </div>
                                <div class="post-info-container">
                                    <!-- 게시물 정보를 표시합니다 -->
                                    <span class="post-info"
                                          th:text="'작성자: ' + ${post.nickname} + ' | 작성일: ' + ${post.createdAt} + ' | 조회수: ' + ${post.viewCount} + ' | 좋아요: ' + ${post.likeCnt}"></span>
                                </div>
                            </div>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </div>
</div>

<!-- static js -->
<script src="/js/detailboard.js"></script>

</body>
</html>
